/* Reset styles */

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  /* background-color: #fbfbfb; */
  font-family: "Poppins", sans-serif;
  /* color: #0c0c0c; */
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  display: flex;
  list-style: none;
}

a {
  /* color: currentColor; */
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
